.room {
  display: flex;
  gap: 20px;
  padding: 5px;
  justify-content: space-around;
}

.room .board-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.room .team {
  margin-top: 42px;
}
.room .end-guessing {
  margin: 0 auto;
}
