.room {
  display: flex;
  gap: 20px;
  padding: 5px;
  justify-content: space-around;
}

.room .status {
  color: white;
  text-align: center;
  font-size: 20px;
}
.room .board-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.room .team {
  margin-top: 42px;
}
