body {
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
  background-image: url(/docs/background.svg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  margin: 0;

  /* background: radial-gradient(circle at 50% 50%, rgb(91, 174, 215) 0%, rgb(5, 60, 84) 100%); */
  /* background-image: url(/docs/bg-raster.svg); */
  /*   mix-blend-mode: overlay; */
  /* background-size: cover; */
}
