
.room {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: calc(24px + 4px);
  max-width: 900px;
  margin: 0 auto;
}
.room > div {
  aspect-ratio: 1;
}
