
.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 16px;
  width: 100%;
  min-width: 800px;
  max-width: calc(100vw - 140px);
  margin: 0 auto;
}
.board > div {
  aspect-ratio: 1;
}
