html {
  background-image: url(/docs/background.svg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  height: 100%;
  width: 100%;
}

body {
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  height: 100vh;
}

.slide-fade-enter-active,
.slide-fade-exit-active {
  transition: all .2s ease;
}
.slide-fade-enter,
.slide-fade-exit-to {
  transform: translateY(10px);
  opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
  transition: all .2s ease;
}
.fade-enter,
.fade-exit-to {
  opacity: 0;
}
